.tern-port
*.swp
.DS_Store
ecs/tex/Misc Test Files
.idea
venv
.env*
.envrc
.resources
.vscode
cdk.out/*
*.pyc
**/__pycache__/
.mypy_cache/*
Pipfile*
*.egg-info*
.coverage*
.tox*
**/opensearch

# documentation
**/opensearch_local
# dir created by virtual env when using cdk
**/apt-stack
**/opensearch
**/stack/**/cdk.out
opensearch-changeset.*
opensearch_migration

# deployment build and dist files
**/build
**/dist

# changesets
changeset.txt